services:
  web:
    build: .
    command: sh -c "./docker-entrypoint.sh"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:14
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

  redis:
    image: redis:8.2-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 5

  celery_high_priority:
    build: .
    command: celery -A tournament_project worker -l info -Q high_priority
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy

  celery_default:
    build: .
    command: celery -A tournament_project worker -l info -Q default
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy

  celery_low_priority:
    build: .
    command: celery -A tournament_project worker -l info -Q low_priority
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy

  celery-beat:
    build: .
    command: celery -A tournament_project beat -l info
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy

  nginx:
    build:
      context: ./nginx
    volumes:
      - ./frontend:/var/www/frontend:ro
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - webroot_data:/var/www/certbot
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
    entrypoint:
      - /app/nginx/entrypoint.sh

  certbot:
    image: certbot/certbot
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - webroot_data:/var/www/certbot
    entrypoint: ["/bin/sh", "-c"]
    command: >
      '
        trap exit TERM;

        # Check if a certificate already exists and retry if it fails
        if [ ! -f "/etc/letsencrypt/live/atom-game.ir/fullchain.pem" ]; then
          echo "### No certificate found, attempting to obtain one with retries...";

          while ! certbot certonly --webroot -w /var/www/certbot --non-interactive --agree-tos \
            --email amirh.moloki@gmail.com -d atom-game.ir -d www.atom-game.ir \
            --rsa-key-size 4096 --verbose; do
              echo "Certbot failed. Retrying in 5 seconds...";
              sleep 5;
          done
        else
          echo "### Certificate found, skipping issuance...";
        fi

        echo "### Starting renewal process...";
        while true; do
          certbot renew --quiet;
          sleep 12h;
        done;
      '
    depends_on:
      - nginx

volumes:
  postgres_data:
  static_volume:
  media_volume:
  webroot_data:
