services:
  web:
    build: .
    command: sh -c "./docker-entrypoint.sh"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:14
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

  redis:
    image: redis:8.2-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 5

  celery:
    build: .
    command: celery -A tournament_project worker -l info
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy

  celery-beat:
    build: .
    command: celery -A tournament_project beat -l info
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy

  nginx:
    build:
      context: ./nginx
    volumes:
      - ./frontend:/var/www/frontend:ro
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - /etc/letsencrypt:/etc/letsencrypt:ro    # مسیر واقعی SSL
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /var/www/certbot:/var/www/certbot       # برای Certbot challenge
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web

  certbot:
    image: certbot/certbot
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/certbot:/var/www/certbot

  redis-exporter:
    image: oliver006/redis_exporter:latest
    environment:
      - REDIS_ADDR=redis://redis:6379
    depends_on:
      - redis
    ports:
      - "9121:9121"

#  celery-exporter:
#    build:
#      context: .
#      dockerfile: Dockerfile.celery-exporter
#    command: celery_exporter --broker-url=redis://redis:6379/0
#    depends_on:
#      - redis
#    ports:
#      - "9808:9808"

volumes:
  postgres_data:
  static_volume:
  media_volume:
