services:
  web:
    build: .
    command: sh -c "./docker-entrypoint.sh"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:14
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

  redis:
    image: redis:8.2-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 5

  celery_high_priority:
    build: .
    command: celery -A tournament_project worker -l info -Q high_priority
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy

  celery_default:
    build: .
    command: celery -A tournament_project worker -l info -Q default
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy

  celery_low_priority:
    build: .
    command: celery -A tournament_project worker -l info -Q low_priority
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy

  celery-beat:
    build: .
    command: celery -A tournament_project beat -l info
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy

  nginx:
    build:
      context: ./nginx
    volumes:
      - ./frontend:/var/www/frontend:ro
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - certbot_data:/etc/letsencrypt
      - webroot_data:/var/www/certbot
      # Mount the scripts and templates
      - ./nginx/entrypoint.sh:/app/entrypoint.sh
      - ./nginx/nginx.conf.template:/app/nginx.conf.template
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DOMAINS=${DOMAIN} # Pass domains from .env
    depends_on:
      - web

  certbot:
    build:
      context: ./certbot
    volumes:
      - certbot_data:/etc/letsencrypt
      - webroot_data:/var/www/certbot
      - ./certbot/entrypoint.sh:/app/entrypoint.sh
    environment:
      - DOMAINS=${DOMAIN} # Pass domains from .env
      - EMAIL=${EMAIL}       # Pass email from .env
    # No depends_on to avoid circular dependency

volumes:
  postgres_data:
  static_volume:
  media_volume:
  certbot_data:
  webroot_data:
