# Framework
Django
djangorestframework
django-cors-headers
django-filter
django-phonenumber-field
phonenumbers
django-axes
django-ratelimit
django-redis
django-sslserver
django_celery_results
# Security Fixes for transitive dependencies are blocked by `zarinpal==1.0.0`
# which pins vulnerable versions of certifi, idna, requests, and urllib3.
# We can only update direct dependencies.
djoser>=2.3.0
drf-nested-routers
drf-spectacular

# Async & Real-time
celery
channels
redis

# Database & Environment
dj-database-url
python-dotenv
psycopg2-binary
gunicorn

# Storage
django-storages
boto3

# Testing
fakeredis
coverage

# Code Quality
black
flake8
pip-tools

# Payments
zarinpal

# Other
twilio
aiohttp<3.11  # Pin to support Python < 3.9
smsir-python
pillow
